body{
    background-color: wheat;
    text-align: center;
}
h1{
    color: mediumseagreen;
    text-align: center;
}
form {

    width: 500px;
    background-color: rgb(236, 234, 216);
    padding: 30px;
    margin: auto;
    margin-top: 30px;
    border-radius: 5px;
    text-align: center;

}